.fondointro {
  width: 100%;
  margin: 100px, auto;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  img {
    width: 100%;
    opacity: 90%;
  }
}
.intro {
  font-size: 50px;
  text-align: center;
  position: absolute;
  font-style: oblique;
  padding: 80px;
  color: $first-text-color;
}
.listaproductos {
  background-color: $fourth-bg-color;
  padding: 80px;
}
.producto {
  font-size: 50px;
  text-align: center;
  font-weight: bold;
}
.tiposproducto {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.empacados {
  display: flex;
  flex-direction: column;
  padding: 20px 5px 20px 15px;
  margin-left: 100px;
  margin-right: 0;
  align-items: center;
  p {
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;
  }
}
.empacados:hover {
  transform: scale(1.2, 1.2);
}
.granel {
  display: flex;
  flex-direction: column;
  padding: 20px 5px 20px 15px;
  margin-left: 0;
  margin-right: 100px;
  align-items: center;
  p {
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;
  }
}
.granel:hover {
  transform: scale(1.2, 1.2);
}
.historia {
  padding: 20px;
  background-color: $first-bg-color;
}
.historia1 {
  font-size: 50px;
  text-align: center;
  font-weight: bold;
}
.historia2 {
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  color: $second-text-color;
}
.reseñaempresa {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
}
.historia3 {
  font-size: 25px;
  padding: 20px;
  margin-bottom: 20px;
  p {
    margin-bottom: 10px;
  }
}
